#name, #email, #message{
    width: 400px;
}

.control-label{
    width: 100px;
}

.center{
    margin: 0 140px;
}
#header{
    height: 100px;
}
#captcha{
    width: 50px;
}
#capt{
    margin-left: 140px;
}
#ok{
    margin-left: 140px;
}
#errors{
    height: 100px;
    margin: auto;
    text-align: center;
}

.nameEmail{
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 5px;
}
.messages{
    text-align: justify;
    font-weight: normal;
    font-size: 17px;
}
.date{
    text-align: right;
    font-weight: normal;
    font-size: 12px;
    padding-left: 800px;
    padding-top: 5px;
}